#divContainer {
	background: white;
	width: 1000px;
	float: left;
}

.menuDiv {
	background: white;
	float: left;
	width: 10%;
}

.portalDiv {
	background: white;
	float: left;
	width: 90%;
}

#map {
	height: 350px;
	border: 1px solid grey;
}