<div id="#divContainer">
	<div class="menuDiv">
		<div>&nbsp;</div>
		&nbsp;<button type="button" class="btn btn-primary" (click)="clearTrack()">Clear track</button>
		<ul>
		  <li *ngFor="let workout of workouts; let i = index;">
		    &nbsp;<button type="button" class="btn btn-link" (click)="showTrackByDate(workout)">{{workout}}</button>
		  </li>
		</ul>
	</div>

	<div class="portalDiv">
		<h4>{{title}}</h4>
		
		<div id="map"></div>
	</div>
	<div class="menuDiv">
		<div>&nbsp;</div>
	</div>

</div>

