#divContainer {
	background: white;
	width: 1000px;
	float: left;
}

.menuDiv {
	background: white;
	float: left;
	width: 20%;
}

.portalDiv {
	background: white;
	float: left;
	width: 60%;
}

#map {
	height: 650px;
	border: 1px solid grey;
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }